<div class="container">
  <header class = "jumbotron">
    <ul class="nav navbar-nav">
      {{#nav-link-to 'index'}}Home{{/nav-link-to}}
    </ul>
    <br>
    <h1 id="title">Message Board</h1>
  </header>
    {{outlet}}
  <hr>
  <footer>
    <!-- {{#link-to 'contact'}}Our representatives would love to help!{{/link-to}} -->
  </footer>
</div>
